@import '@/styles/Global.module.scss';

.projectCardFooter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0 0 $default-radius $default-radius;
    width: 80%;
    height: 50px;

    .active svg {
        width: 30px;
        height: 30px;
        fill: $dark-bg;
        cursor: pointer;
        transition: all .2s ease-out;

        &:hover {
            transform: scale(1.1);
            fill: $st-detail;
        }
    }

    .disabled svg {
        width: 30px;
        height: 30px;
        fill: #8e8e8e;
    }


}