@import '@/styles/Global.module.scss';

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - $navbar-height);
    background-color: $dark-bg;
}