@import '@/styles/Global.module.scss';

.right_main_page {
    background: $gradient-bg;
    animation: bgAnimate $bg-animation;
    width: 50%;
    min-height: 300px;
    height: 100%;
    padding: 30px;
    overflow: hidden;

    .image_container {
        width: 100%;
        height: 100%;
        background-image: url('../../../public/images/developer.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        filter: drop-shadow(20px 20px 20px $st-detail);
        animation: slideIn 2s linear forwards,
            movingLights $bg-animation,
            moveDeveloper 8s infinite ease-in-out;
    }
}

@keyframes movingLights {
    0% {
        filter: drop-shadow(20px 20px 20px $st-detail);
    }

    50% {
        filter: drop-shadow(-20px 3px 20px $st-detail);

    }

    100% {
        filter: drop-shadow(20px 20px 20px $st-detail);
    }
}

@keyframes moveDeveloper {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);

    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideIn {
    0% {
        transform: translate(90%, 50%);
        opacity: 0;
    }

    95% {
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 850px) {
    .right_main_page {
        width: 100%;
        height: 50%;
    }
}