@import '@/styles/Global.module.scss';

.right_main_page {
    width: 50%;
    min-height: 300px;
    height: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .image_container {
        width: 100%;
        max-width: 450px;
        height: 350px;
        background-image: url('../../../public/images/developer.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        filter: drop-shadow(20px 20px 20px $st-detail);
        animation: movingLights $bg-animation;
    }
}

@keyframes movingLights {
    0% {
        filter: drop-shadow(20px 20px 20px $st-detail);
    }

    50% {
        filter: drop-shadow(-20px 3px 20px $st-detail);
    }

    100% {
        filter: drop-shadow(20px 20px 20px $st-detail);
    }
}

@media (max-width: 850px) {
    .right_main_page {
        width: 100%;
        height: auto;
        min-height: 200px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .image_container {
            width: 100%;
            max-width: 320px;
            height: 220px;
            background-position: center;
        }
    }
}