@import '@/styles/Global.module.scss';

.eventContainer {
    @extend .centralize;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0 1rem;

    p {
        margin: .5rem 0;
        font-size: 0.7rem;
    }

    .studyInfo {
        overflow: hidden;
        width: 45%;
        max-width: 600px;
        height: fit-content;
        text-align: right;
        padding: 2rem;
        background-color: #ffffff0e;
        border-radius: 50px;
        
        ul {
            margin-left: 10%;
            text-align: left
        }
    }
    
    .iconContainer {
        @extend .centralize;
        font-size: 2rem;
        width: 50px;
        height: fit-content;
        z-index: 1;

        svg {
            filter: drop-shadow(0 0 3px $st-detail);
            animation: moveIcon 8s ease-in-out infinite;
        }
    }
    
    .workInfo {
        overflow: hidden;
        display: inline-block;
        width: 45%;
        max-width: 600px;
        height: fit-content;
        padding: 2rem;
        background-color: #ffffff0e;
        border-radius: 50px;

        ul {
            margin-left: 10%;
        }
    }

}

// Wheen container is for study
.eventContainer_study {

    .workInfo {
        visibility: hidden;
    }
}

// Wheen container is for work
.eventContainer_work {
    
    .studyInfo {
        visibility: hidden;
    }
}

@media (max-width: 720px) {
    .eventContainer {
        justify-content: flex-start;
        padding: .5rem 1rem .5rem .5rem;

        .studyInfo {
            display: none;
        }

        .iconContainer {
            width: 50px;
        }

        .workInfo {
            visibility: visible;
            width: 100%;
        }
    }
}

@keyframes moveIcon {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}