@import '@/styles/Global.module.scss';

.timeEvent_left {
    position: relative;
    width: 100%;
    height: 10vh;
    margin: 0 0 1rem 0;
    
    .mark {
        @extend .centralize;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: $dark-bg;
        border-radius: 50%;
        border: $about-timeline-width solid $dark-bg;

        svg {
            fill: $st-detail;
            width: 100%;
            height: 100%;
        }
    }
    
    .content {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 47%;
        height: 100%;

        h4 {
            font-weight: bold;
        }

        .period {
            margin: 1rem 0;
            font-size: .8rem;
            color: rgb(79, 79, 79);
        }
    }

    .left {
        left: 0;
        text-align: right;
    }
    
    .right {
        right: 0;
        text-align: left;
    }

}

.timeEvent_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 10vh;
    margin: 10% 0;
    
    .mark {
        @extend .centralize;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: $dark-bg;
        border-radius: 50%;
        border: $about-timeline-width solid $dark-bg;

        svg {
            fill: $st-detail;
            width: 100%;
            height: 100%;
        }
    }
    
    .content {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 47%;
        height: 100%;

        .period {
            margin: 1rem 0;
            font-size: .8rem;
            color: rgb(79, 79, 79);
        }
    }

    .left {
        right: 0;
        text-align: left;
    }
    
    .right {
        left: 0;
        text-align: right;
    }

}