@import '@/styles/Global.module.scss';

.left_main_page {
    @extend .centralize;
    width: 650px;
    height: 100%;
    
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0 1rem;
        width: 100%;
        height: 300px;

        h1 {
            font-size: 2.5rem;
            color: $dark-text;
        }

        p {
            margin: 1rem 0;
            font-size: 1.5rem;
            color: $dark-text;
        }
    }
}

@media (max-width: 850px) {
    .left_main_page {
        width: 100%;
        height: 50%;

        .content {
            padding: 2rem;
            align-items: center;
        }
    }
}

@media (max-width: 535px) {
    .left_main_page {
        .content {
            text-align: left;

            h1 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 445px) {
    .left_main_page {

        .content {
            h1 {
                font-size: 1.5rem;
            }
        }
    }
}