@import '@/styles/Global.module.scss';

.about {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - $navbar-height);
    background: $gradient-bg;
    animation: bgAnimate $bg-animation;
    color: $dark-text;
    padding-top: 5rem;
    
    .timeline_container {
        width: 100%;

        .timeline {
            border-radius: 0 0 50px 50px;
            top: -$navbar-height;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            width: $about-timeline-width;
            position: absolute;
            background-color: $about-timeline-color;
        }
    }

}

@media  (max-width: 720px) {
    .about {
        height: 100%;
        padding-top: 0;
        
        .timeline_container {

            .timeline {
                left: 33px;
                top: $navbar-height;
                transform: none;
                height: calc(100% - $navbar-height);
            }
        }
    }
}