@import '@/styles/Global.module.scss';

.about {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    min-height: calc(100vh - $navbar-height);
    background-color: $dark-bg;
    color: $dark-text;
    
    .timeline_container {
        width: 100%;

        .timeline {
            border-radius: 0 0 50px 50px;
            top: -$navbar-height;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            width: $about-timeline-width;
            position: absolute;
            background-color: $about-timeline-color;
        }
    }
}