@import '@/styles/Global.module.scss';

.contact {
    width: 100%;
    color: $dark-text;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    min-height: calc(100vh - $navbar-height);
    background: $gradient-bg;

    .contactContainer {
        width: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        
        .hireMessageContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            text-align: left;
            height: 250px;
            padding: 1rem;
        }
    }
}

@media (max-width: 650px) {
    .contact {
        padding: 1rem;
        justify-content: flex-start;
        flex-direction: column;

        .contactContainer {
            width: 100%;
        }
    }
}