// Background colors
$dark-bg: #071b37;
$light-bg: #e1e1e1;
$transparent-dark-bg: #071b3779;


// Text colors
$dark-text: $light-bg;
$light-text: $dark-bg;

// Detail colors
$st-detail: #4caeff;
$about-timeline-color: #ffffff6a;
$text-box: #ffffff0e;

// Gradient
$gradient-bg: linear-gradient(90deg, $dark-bg 0%, #0057c1 50%, $dark-bg 100%);

// Image configurations
.container-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.med-image {
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

// Other configurations
.centralize {
    display: flex;
    align-items: center;
    justify-content: center;
}

$default-radius: 10px;
$navbar-height: 10vh;
$about-timeline-width: 2px;
$bg-animation: 10s infinite;

@keyframes bgAnimate {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 150%;
    }
    100% {
        background-size: 100%;
    }
}