// Background colors
$dark-bg: #071b37;
$gradient-bg: linear-gradient(90deg, rgba(7,23,45,1) 0%, rgba(10,55,117,1) 67%, rgba(4,25,55,1) 100%);
$light-bg: #e1e1e1;


// Text colors
$dark-text: $light-bg;
$light-text: $dark-bg;

// Detail colors
$st-detail: #4caeff;

// Image configurations
.container-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.med-image {
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

// Other configurations
.centralize {
    display: flex;
    align-items: center;
    justify-content: center;
}

$default-radius: 10px;

$navbar-height: 10vh;

$about-timeline-width: 2px;
$about-timeline-color: #ffffff6a;

$bg-animation: 10s infinite;

@keyframes bgAnimate {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 150%;
    }
    100% {
        background-size: 100%;
    }
}