@import '@/styles/Global.module.scss';

.index {
    @extend .centralize;
    width: 100%;
    height: calc(100vh - $navbar-height);
    min-height: 555.3px;
    background: $gradient-bg;
    animation: bgAnimate $bg-animation;
}

@media (max-width: 850px) {
    .index {
        flex-direction: column;
    }
}