@import '@/styles/Global.module.scss';

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - $navbar-height);
    background-color: $dark-bg;
}