@import '@/styles/Global.module.scss';

.projects {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - $navbar-height);
    background: $gradient-bg;
    animation: bgAnimate $bg-animation;
}