@import '@/styles/Global.module.scss';

.projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: calc(100vh - $navbar-height);
    background-color: $dark-bg;
}