@import '@/styles/Global.module.scss';

.button {
    
    a {
        font-size: 1.3rem;
        transition: all .3s ease-in-out;
        color: $dark-text;
        @extend .centralize;

        .trace_container {
            width: 10px;
            height: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

        .left {
            position: relative;

            .trace {
                position: absolute;
                width: 10px;
                height: 4px;
                border-radius: 50px;
                background-color: $st-detail;
                right: 0;
            }
        
            .top_trace {
                top: 10%;
                transform: translate(10px, 10px);
                transition: all .3s ease-in-out, .3s;
                opacity: 0;
            }
        
            .bot_trace {
                bottom: 10%;
                transform: translate(10px, 10px);
                transition: all .2s ease-in-out, .2s;
                opacity: 0;
            }
        }

        .right {
            position: relative;

            .trace {
                position: absolute;
                width: 100%;
                height: 4px;
                border-radius: 50px;
                background-color: $st-detail;
                left: 0;
            }
        
            .top_trace {
                top: 10%;
                transform: translate(10px, 10px);
                transition: all .2s ease-in-out, .2s;
                opacity: 0;
            }
        
            .bot_trace {
                bottom: 10%;
                transform: translate(10px, 10px);
                transition: all .3s ease-in-out, .3s;
                opacity: 0;
            }
        }

        &:hover {
            color: $st-detail;
        }

        &:hover .left .trace {
            width: 100%;
        }

        &:hover .left .top_trace {
            transform: translateY(20%);
            transform: rotate(45deg);
            opacity: 1;
        }

        &:hover .left .bot_trace {
            transform: translateY(20%);
            transform: rotate(-45deg);
            opacity: 1;
        }

        &:hover .right .top_trace {
            transform: translateY(20%);
            transform: rotate(-45deg);
            opacity: 1;
        }

        &:hover .right .bot_trace {
            transform: translateY(20%);
            transform: rotate(45deg);
            opacity: 1;
        }
    }
}