@import '@/styles/Global.module.scss';

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 30px;
    height: $navbar-height;
    padding: 0 50px;
    background: $gradient-bg;
    animation: bgAnimate $bg-animation;
    color: $dark-text;
}

@media (max-width: 650px) {
    .navbar {
        padding: 0 5px;
    }
}

@media (min-width: 1600px) {
    .navbar {
        justify-content: center;
    }
}