@import '@/styles/Global.module.scss';

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 30px;
    height: $navbar-height;
    padding: .5rem;
    background: $gradient-bg;
    animation: bgAnimate $bg-animation;
    color: $dark-text;
}

@media (min-width: 1600px) {
    .navbar {
        justify-content: center;
    }
}