@import '@/styles/Global.module.scss';

.notification,
.isNotVisible {
    max-width: 600px;
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    padding: .5rem;
    font-size: 1rem;
    font-weight: bold;
    z-index: 999;
    border-radius: $default-radius;
    animation: notification 5.1s ease; //Levemente mais rápido que o setTimeout no componente que chama a notificação

    div {
        animation: progressBar 5.1s ease;
        position: fixed;
        height: 100%;
        bottom: 0;
        right: 0;
    }
}

.notification_success {
    display: block;
    background-color: #53bc58;
    color: rgb(0, 88, 0);

    div {
        background-color: #0080005c;
    }
}

.notification_fail {
    display: block;
    background-color: #ff8f8f;
    color: #730000;

    div {
        background-color: #7300005c;
    }
}

// ANIMAÇÕES DA NOTIFICAÇÃO
@keyframes notification {
    0% {
        height: 1px;
        width: 1%;
    }

    5%, 95% {
        width: 50%;
        height: fit-content;
    }

    100% {
        height: 0;
        width: 0;
    }
}

@keyframes progressBar {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
    
}

@media (max-width: 650px) {
    @keyframes notification {
        0% {
            height: 1px;
            width: 1%;
        }
    
        5%, 95% {
            width: 80%;
            height: fit-content;
        }
    
        100% {
            height: 0;
            width: 0;
        }
    }
}