@import '@/styles/Global.module.scss';

.languageSwitch {
    cursor: pointer;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    @extend .container-image;
    transition: all .5s ease-in-out;
    opacity: 0;
}

.brazil {
    background-image: url('/images/brazil-flag.png');
    opacity: 1;
    animation: switchFlag ease-in-out 1s;
}

.eua {
    background-image: url('/images/united-states-flag.png');
    animation: switchFlag ease-in-out 1s;
    opacity: 1;
}

@media (max-width: 650px) {
    .languageSwitch {
        display: none;
    }
}