@import '@/styles/Global.module.scss';

.activatedModal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #000000;
    background-color: #000000af;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    .modalContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        position: relative;
        width: 85%;
        max-width: 600px;
        height: 80%;
        background-color: $light-bg;
        color: $light-text;
        z-index: 9999;
        border-radius: $default-radius;
        animation: grow .2s ease-in-out;

        .modalContent {
            overflow-y: auto;
            width: 100%;
            height: fit-content;

            h2 {
                text-align: center;
            }

            .imageContainer {
                margin: 1rem 0;
                width: 100%;
                min-height: 200px;
                border-radius: $default-radius;
                background-size: cover;
                background-position: top;
                background-repeat: no-repeat;
            }
        }

        button {
            cursor: pointer;
            width: 25px;
            height: 25px;
            position: absolute;
            top: -13px;
            right: -13px;
            border: none;
            background-color: white;
            border-radius: 50px;

            svg {
                fill: #000000;
                width: 100%;
                height: 100%;
            }
        }
    }

}

.disabledModal {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 0;
    color: black;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    animation: hideModal .3s ease-in-out;

    .modalContainer {
        padding: 1rem;
        position: relative;
        width: 85%;
        max-width: 600px;
        height: 80%;
        background-color: $light-bg;
        color: $light-text;
        z-index: 9999;
        border-radius: $default-radius;

        button {
            cursor: pointer;
            width: 25px;
            height: 25px;
            position: absolute;
            top: -13px;
            right: -13px;
            border: none;
            background-color: white;
            border-radius: 50px;

            svg {
                fill: #000000;
                width: 100%;
                height: 100%;
            }
        }
    }

    h2 {
        text-align: center;
    }

    .imageContainer {
        width: 100%;
        height: 50%;
        border-radius: $default-radius;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }
}

.hideModal {
    display: none;
}

@keyframes grow {
    0% {
        height: 0;
    }

    95% {
        height: 100%;
    }

    100% {
        height: 80%;
    }
}

@keyframes hideModal {
    0% {
        height: 80%;
        opacity: 1;
    }

    100% {
        height: 0%;
        opacity: 0;
    }
}